{% extends 'baseAdmin.html.twig' %}

{% block title %}Evenements index{% endblock %}

{% block body %}
    <h1>Evenements </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Lieu</th>
                <th>Type</th>
                <th>Description</th>
                <th>Nombreplaces</th>
                <th>Nombreparticipants</th>
               {# <th>Posterurl</th> #}
               {# <th>Videourl</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.datedebut ? evenement.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.datefin ? evenement.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.type }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.nombreplaces }}</td>
                <td>{{ evenement.nombreparticipants }}</td>
              {# <td>{{ evenement.posterurl }}</td>#}
               {# <td>{{ evenement.videourl }}</td>#}
                <td>
                    <a href="{{ path('app_evenements_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenements_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenements_new') }}">Create new</a>
{% endblock %}
