{% extends 'base.html.twig' %}

{% block title %}Activite Collections - YourSite{% endblock %}

{% block stylesheets %}
<style>
    /* Container holding the image and the text */
    .image-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    /* Add hover effect */
    .image-container:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    /* Bottom left text */
    .image-container .btn-participate {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: #007BFF;
        color: white;
        padding: 8px 16px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    /* Show button on hover */
    .image-container:hover .btn-participate {
        visibility: visible;
        opacity: 1;
    }
</style>
{% endblock %}

{% block body %}
{% include 'ClientHome/header.html.twig' %}

<section class="collection-grid collection-masonary">
    <div class="container">
        <div class="collection-grid__top">
            <div class="block-title text-left">
                <p>Gallery</p>
                <h3>Explore <br> the Collection</h3>
            </div>

            <ul class="collection-filter post-filter list-unstyled">
                <li data-filter="*" class="active"><span>All Activities</span></li>
                <li data-filter=".conference"><span>Conferences</span></li>
                <li data-filter=".seminar"><span>Seminars</span></li>
                <li data-filter=".workshop"><span>Workshops</span></li>
                <li data-filter=".exhibition"><span>Exhibitions</span></li>
            </ul>
        </div>
        <div class="row high-gutter filter-layout masonary-layout">
            {% for activite in activites %}
            <div class="col-lg-4 col-md-6 filter-item masonary-item {{ activite.typeAct|lower }}">
                <div class="collection-grid__single">
                    <div class="image-container">
                        <img src="{{ asset('uploads/posters/' ~ activite.posterurl) }}" alt="{{ activite.nomAct }}" width="300" height="300">
                       <a class="btn btn-primary btn-participate">Participate</a>
                    </div>
                    <div class="collection-grid__content">
                        <h3><a href="{{ path('app_activite_show', {'idActivite': activite.idActivite}) }}">{{ activite.nomAct }}</a></h3>
                        <p>{{ activite.typeAct }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
