{% extends 'base.html.twig' %}

{% block title %}Quiz Question{% endblock %}

{% block body %}
<div class="container">
    <h1>Question {{ questionIndex + 1 }} of {{ totalQuestions }}</h1>
    <p>{{ question.question }}</p>
    <form method="post" action="{{ path('quiz_answer') }}">
        {% for option in question.options %}
            <div>
                <input type="radio" id="option{{ loop.index }}" name="option" value="{{ loop.index0 }}">
                <label for="option{{ loop.index }}">{{ option }}</label>
            </div>
        {% endfor %}
        <button type="submit">Submit Answer</button>
    </form>
</div>
{% endblock %}
