{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <h1>Oeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Disponibilite</th>
                <th>Prix</th>
                <th>Datecreation</th>
                <th>Type</th>
                <th>Posterurl</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>{{ oeuvre.id }}</td>
                <td>{{ oeuvre.titre }}</td>
                <td>{{ oeuvre.description }}</td>
                <td>{{ oeuvre.disponibilite }}</td>
                <td>{{ oeuvre.prix }}</td>
                <td>{{ oeuvre.datecreation ? oeuvre.datecreation|date('Y-m-d') : '' }}</td>
                <td>{{ oeuvre.type }}</td>
                <td>{{ oeuvre.posterurl }}</td>
                
                <td>
                    <a href="{{ path('app_oeuvre_show', {'id': oeuvre.id}) }}">show</a>
                    <a href="{{ path('app_oeuvre_edit', {'id': oeuvre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_oeuvre_new') }}">Create new</a>
{% endblock %}
