{% extends 'baseAdmin.html.twig' %}

{% block title %}Collections - {% endblock %}

{% block body %}
<div class="container-fluid py-4">

 <div class="row" style="margin-top:280px;">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false">
                <div class="container-fluid py-1 px-3">
                    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                     <a href="{{ path('app_oeuvre_new') }}" class="btn btn-dark btn-sm ">Ajouter Oeuvre</a>
                        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                            <form action="{{ path('collections') }}" method="get" class="input-group">
                                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                                <input type="text" name="search" class="form-control" placeholder="Type here...">
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
{% for oeuvre in oeuvres %}
      <div class="col-md-3 mb-4" style="width:430px; max-width:100%;">
       
          <div class="card card-profile mx-2" >
        <img src="{{ asset('uploads/' ~ oeuvre.posterUrl) }}" alt="Image placeholder" class="card-img-top" style="height: 250px;">
 
            <!-- ... other parts of your card ... -->
             <div class="card-body">
                    <h5 class="card-title">{{ oeuvre.titre }}</h5>
                    <p class="card-text">{{ oeuvre.datecreation|date('Y-m-d') }}</p>
                    <p class="card-text">{{ oeuvre.type }}</p>
                    <p class="card-text">{{ oeuvre.disponibilite }}</p>
                    <p class="card-text">{{ oeuvre.description }}</p>
                    <p class="card-text">{{ oeuvre.prix }}</p>
                    
                </div>

                <!-- Pied de page de la carte pour les actions -->
                <div class="d-flex justify-content-start">
                    <form method="post" action="{{ path('oeuvre_delete', {'id': oeuvre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre.id) }}">
                        <button class="btn btn-sm btn-danger ms-7" type="submit" style="margin-right: 20px;">Delete</button>
                    </form>
                    
                     <!-- Modal Structure -->
 
 <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal{{ oeuvre.id }}">Update</button>

                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p>No oeuvres found.</p>
        </div>
        {% endfor %}
    </div>
   <!-- Placer les modals en dehors de la boucle for pour éviter le rendu multiple -->
    {% for oeuvre in oeuvres %}
   <div class="modal fade" id="updateModal{{ oeuvre.id }}" tabindex="-1" aria-labelledby="updateModalLabel{{ oeuvre.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('oeuvre_update', {'id': oeuvre.id}) }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel{{ oeuvre.id }}">Modifier Oeuvre</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(updateForms[oeuvre.id], {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(updateForms[oeuvre.id].titre, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(updateForms[oeuvre.id].type, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(updateForms[oeuvre.id].disponibilite, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(updateForms[oeuvre.id].prix, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                         <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(updateForms[oeuvre.id].posterurl, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(updateForms[oeuvre.id].datecreation, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_row(updateForms[oeuvre.id].description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                         
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                {{ form_end(updateForms[oeuvre.id]) }}
            </form>
        </div>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}