{% extends 'base.html.twig' %}
{% block title %}Home - ArtHub{% endblock %}

{% block body %}

    {% include 'ClientHome/header.html.twig' with {'page_title': 'Dump your mind'} %}

    <div class="contact-one">
        <div class="container">
            <div class="block-title-two text-center">
                <p>Create a post</p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(form.titre) }}
                            <div class="text-danger">{{ form_errors(form.titre) }}</div>
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.imagePath) }}
                            <div class="text-danger">{{ form_errors(form.imagePath) }}</div>
                        </div>
                        <div class="col-lg-12">
                            {{ form_row(form.contenu) }}
                            <div class="text-danger">{{ form_errors(form.contenu) }}</div>
                        </div>
                        <div class="col-lg-12">
                            {{ form_row(form.submit, {'label': 'Update'}) }} 
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
