{% extends 'base.html.twig' %}
{% block title %}Profile-{{app.user.pseudo}}
{% endblock %}

{% block body %}

	{% include 'ClientHome/header.html.twig' with {'page_title':  "profile" } %}


	<link
	rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

	<!--     Fonts and icons     -->
	<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>

	<!-- Nucleo Icons -->
	<link href="{{asset('adminDash/css/nucleo-icons.css')}}" rel="stylesheet"/>
	<link
	href="{{asset('adminDash/css/nucleo-svg.css')}}" rel="stylesheet"/>

	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link
	href="{{asset('adminDash/css/nucleo-svg.css')}}" rel="stylesheet"/>

	<!-- CSS Files -->
	<link id="pagestyle" href="{{asset('adminDash/css/argon-dashboard.css?v=2.0.4')}}" rel="stylesheet"/>

	<div class="card shadow-lg mx-4 card-profile-bottom" style="padding-top: 3px;">
		<div class="card-body p-3">
			<div class="row gx-4">
				<div class="col-auto">
					<div class="avatar avatar-xl position-relative">
						{{ form_start(editUserForm, {'attr': {'novalidate': 'novalidate'}}) }}
						{{ form_row(editUserForm.urlImageProfil, {
                            'label': false,
                            'attr': {'class': 'form-control', 'style': 'display:none;'}
                        }) }}
						<!-- Trigger to open the file input -->
						<label for="{{ editUserForm.urlImageProfil.vars.id }}" style="cursor: pointer; position: relative;">
						{% if app.user.urlImageProfil %}	
							<img src="{{ asset(app.user.urlImageProfil) }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
						{% else %}
							<img src="{{ asset('images/blog/blog-s-1.jpg') }}" alt="Default Image" class="w-100 border-radius-lg shadow-sm">
						{% endif %}
						<i class="bi bi-pencil-square text-primary edit-icon" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; display: none;"></i>
					</label>

				</div>
			</div>
			<div class="col-auto my-auto">
				<div class="h-100">
					<h5 class="mb-1">{{app.user.prenom}}
						{{app.user.nom}}</h5>
					<p class="mb-0 font-weight-bold text-sm">{{app.user.pseudo}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-4">
	<div class="row">
		<div class="col-md-4">
			<div class="card card-profile">
				<div class="card-body">
					<div class="list-group">
						<a id="profileButton" href="#" class="list-group-item list-group-item-action">
							<i class="bi bi-person-fill me-2"></i>Profile</a>
						<a href="#" class="list-group-item list-group-item-action">
							<i class="bi bi-bell-fill me-2"></i>Notifications</a>
						<a href="#" class="list-group-item list-group-item-action">
							<i class="bi bi-link-45deg me-2"></i>Linked Accounts</a>
						<a href="#" class="list-group-item list-group-item-action">
							<i class="bi bi-shield-lock-fill me-2"></i>2FA</a>
						<a href="#" id="passwordButton" class="list-group-item list-group-item-action">
							<i class="bi bi-key-fill me-2"></i>Password</a>
						<a href="#" id="showAccountDeletion" class="list-group-item list-group-item-action">
							<i class="bi bi-file-earmark-text-fill me-2"></i>KYC</a>

						<a href="#" id="deleteAccountButton" class="list-group-item list-group-item-action">
							<i class="bi bi-trash-fill me-2"></i>
							Account</a>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header pb-0">
					<div class="d-flex align-items-center " style=" margin-right:2%;justify-content: space-between;">
						<p class="mb-0">Edit Profile</p>
						{{ form_row(editUserForm.saveinfo) }}
						
					</div>
				</div>
				<div class="card-body">
					<div id="userInfoSection" style="display: block;">
						<p class="text-uppercase text-sm">User Information</p>
						<div class="row mb-3">
							<div class="col-md-6">
								<div class="form-group">

									{{ form_row(editUserForm.pseudo) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(editUserForm.email) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">

									{{ form_row(editUserForm.prenom) }}

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(editUserForm.nom) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-control-label">Phone Number</label>
									<div
										style="display: flex;align-items: center; gap: 10px; ">
										<!-- Flex container -->

										{{ form_widget(editUserForm.countryCode) }}
										{{ form_row(editUserForm.phoneNumber) }}
									</div>
								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(editUserForm.gender) }}
								</div>
							</div>
						</div>
					</div>
					<div id="passwordSection" style="display: none;">
						<hr class="horizontal dark">
						<p class="text-uppercase text-sm">change Password</p>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(editUserForm.currentPassword) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(editUserForm.newPassword.first) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form_row(editUserForm.newPassword.second) }}
								</div>
							</div>
							{{ form_end(editUserForm) }}
						</div>
					</div>
					<div id="deleteAccountSection" style="display: none;">
						<hr class="horizontal dark">
						<p class="text-uppercase text-sm">Delete Account</p>
						<p>Please note:
							<br>Deleting your account is an irreversible action.
																																						 It will result in the permanent loss of your account data, settings, and content. 
																																					     This action cannot be undone.
							<br>
							Please ensure you have backed up any important information you wish to retain before proceeding.</p>
						<div class="form-group">
							<a href="{{ path('app_delete_account') }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
								Delete Account
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div></div><script>
document.getElementById('profileButton').addEventListener('click', function () {
document.getElementById('userInfoSection').style.display = 'block';
document.getElementById('passwordSection').style.display = 'none';
document.getElementById('deleteAccountSection').style.display = 'none';
});

document.getElementById('passwordButton').addEventListener('click', function () {
document.getElementById('passwordSection').style.display = 'block';
document.getElementById('userInfoSection').style.display = 'none';
document.getElementById('deleteAccountSection').style.display = 'none';
});

document.getElementById('deleteAccountButton').addEventListener('click', function () {
document.getElementById('deleteAccountSection').style.display = 'block';
document.getElementById('userInfoSection').style.display = 'none';
document.getElementById('passwordSection').style.display = 'none';
});</script>{% endblock %}
