{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ArticleId</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>DateCreation</th>
                <th>DerniereModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.articleId }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.derniereModification ? article.derniereModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_articles_show', {'articleId': article.articleId}) }}">show</a>
                    <a href="{{ path('app_articles_edit', {'articleId': article.articleId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_articles_new') }}">Create new</a>
{% endblock %}
